@import './Theme.scss';
.detail{
    max-width: $max-width;
    display: inline-block;
    overflow: hidden;
    .detail-features {
        text-align: left;
    }
    .bullet{
        font-size: $font-size-md;
        color: $color-poke-yellow;
    }
    .detail-title{
        line-height: $line-height-md;
        font-weight: bold;
        width: 5em;
        text-align: left;
    }
    .detail-moves{
        text-align: justify;
        padding-right: $padding-md;
    }
    .back {
        text-align: right;
        padding: $padding-md;
        a {
            text-decoration: none;
            font-size: $font-size-md;
            font-weight: bold;
            color: $color-poke-yellow;
        }
    }
}