$font: Poppins,sans-serif;
$color-gray: #a2a2a2;
$color-gray-light: #EDF1F4;
$color-gray-disable: #efefef;
$radius: 8px;
$padding-xl : 48px;
$padding-md : 12px;
$padding-sm : 8px;
$color-poke-yellow: #fdc00d;
$color-poke-blue: #0f2163;
$color-error: rgb(172, 39, 39);
$font-size-lg : 24pt;
$font-size-md : 12pt;
$font-size-title : 16pt;
$font-size-btn : 11pt;
$font-size-sm : 8pt;
$font-size-xs : 4pt;
$title-font-weight : 600;
$title-line-height : 50px;
$line-height-md : 35px;
$hight-loading : 1vh;
$max-width: 1024px;
$width-sm: 100px;
$width-md: 150px;
$height-sm: 100px;
$height-md: 150px;
$height-lg: 200px;